.About {
    background-color: var(--secondary-color);
    margin: 100px auto 0;
}

.About .about-col {
     padding: 0;
    
}

.About h3 {
    color: var(--primary-color);
    font-family: 'Carlito', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.About .about-title {
    font-size: 70px;
}

.About h4 {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding: 15px 10px;
    text-align: center;
}

.About p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 10px 70px;
  }

@media (max-width: 580px) {
    .About h3 {
        font-size: 18px;

    }

    .About .about-title {
        font-size: 50px;
    }

    .About h4 {
      font-size: 22px;
    }

    .About p {
      font-size: 18px;
      padding: 10px 30px;
    }
}