.About {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 auto;
    padding: 0 0 50px;
}

.About .p-right {
    text-align: right;
}

.About .streamly-video {
    aspect-ratio: 16/9;
    border: dotted 8px var(--accent-color);
    display: block;
    margin: 10px auto 0;
    max-width: 800px;
    padding: 0;    
    
}
