:root {
    --primary-color: #430d27;
    --secondary-color: #fefefe;
    --accent-color: #3f3d56;
}

body {
    background: var(--primary-color);
    min-width: 380px;
}

.title-row {
    background-color: var(--secondary-color);
}


.title-col{
    padding: 0;
   
}

.title-img {
    max-height: 300px;
}

h1, h2 {
    font-family: 'Carlito', sans-serif;
}

h3 {
   font-size: 70px;
}

h3, h4 {
    color: var(--primary-color);
   font-family: 'Carlito', sans-serif;
   font-weight: 800;
   text-align: center;
   text-transform: uppercase;
}

h4 {
    font-size: 18px;
  }

.section-quote p{
   background-color: var(--accent-color);
   border-bottom: solid 2px var(--secondary-color); 
   color: var(--secondary-color);
   font-family: 'Quicksand', sans-serif;
   font-size: 20px;
   margin-bottom: 10px;
   padding: 12px;
   text-align: center;
}

h5 {
    background-color: var(--secondary-color);
    border-radius: 2px;
    color: var(--accent-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

p, .text-standout {
   color: var(--secondary-color);
   font-family: 'Quicksand', sans-serif;
   text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 10px;
}

button {
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 12px;
    text-transform: uppercase;
    transition: all ease-in 60ms;

}

button:hover{
    box-shadow: 1px 1px 10px var(--accent-color);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    transition: all ease-in 12ms;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li{
list-style: none;
}

.row-margin {
    margin: 0 100px;
}

.quote-link {
    font-size: 15px;
   }

.quote-link, a {
    color: var(--secondary-color)
}

.quote-link:hover, a:hover {
    font-weight: bolder;
}

.text-standout {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
    padding: 10px;
}

.footer-container {
    border-top: 5px solid white;
    background-color: var(--secondary-color);
    border-top: solid 5px var(--accent-color);
    font-family: 'Carlito', sans-serif;
    max-width: none;
    padding: 10px; 
    text-align: center;
}

.footer-container a, .footer-container p{
    color: var(--accent-color);
}

.footer-container i {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease-in-out 18ms;
}

.footer-container i:hover {
    transform: scale(1.5);
}

.footer-container p {
    font-size: 10px;
    margin-bottom: 0;
    padding: 4px 10px;
}

@media (max-width: 700px) {
   

    h3 {
        font-size: 50px;
    }


    p, .section-quote p {
        font-size: 18px;
        }
    
    button {
        font-size: 11px;
    }
    
    .row-margin {
        margin: 0 10px;
    }

    .footer-container i {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-container p {
        font-size: 8px;

    }



}