:root {
    --primary-color: #430d27;
    --secondary-color: #fefefe;
    --accent-color: #3f3d56;
}

body {
    background: var(--primary-color);
    min-width: 380px;
}

.title-row {
    background-color: var(--secondary-color);
}


.title-col{
    padding: 0;
   
}

.title-img {
    max-height: 300px;
}

h1, h2 {
    font-family: 'Carlito', sans-serif;
}

h3 {
    color: var(--primary-color);
   font-family: 'Carlito', sans-serif;
   font-size: 30px;
   font-weight: 800;
   text-align: center;
   text-transform: uppercase;
}

.section-title {
   font-size: 70px;
}

h4 {
   background-color: var(--accent-color);
   color: var(--secondary-color);
   font-family: 'Quicksand', sans-serif;
   font-size: 20px;
   padding: 12px;
   text-align: center;
}

h5 {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--accent-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

p {
   color: var(--secondary-color);
   font-family: 'Quicksand', sans-serif;
   padding: 10px 25px;  
   text-align: left;
}

button {
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 12px;
    text-transform: uppercase;
    transition: all ease-in 60ms;

}

button:hover{
    box-shadow: 1px 1px 10px var(--accent-color);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    transition: all ease-in 12ms;
}

.quote-link {
    color: var(--secondary-color)
}

.quote-link:hover {
    font-weight: bolder;
}

@media (max-width: 700px) {
    h3 {
        font-size: 18px;

    }

    .section-title {
        font-size: 50px;
    }

    h4 {
      font-size: 15px;
    }

    p {
        font-size: 18px;
        }
    
    button {
        font-size: 11px;
    }


}