.Contact {
  padding: 0;
}

.Contact button {
    display: block;
    margin: 20px auto 5px;
    padding: 10px 15px 12px 25px;
  }

.Contact a {
    color: var(--primary-color);
}

.Contact .contact-icon {
font-size: 16px;
padding-left: 10px;
}