.Contact {
    margin: 50px auto 200px;
}

.Contact button {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--accent-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 650;
    margin: 0 30px;
    padding: 10px;
    text-transform: uppercase;
    transition: all ease-in-out 80ms;
    width: 150px;
}

.Contact button:hover {
    transform: scale(1.1);
}

@media (max-width: 580px) {
    .Contact {
        margin: 30px auto 170px;
    }

    .Contact button {
        font-size: 11px;
        padding: 8px;
        width: 100px;
    }
}