.Course {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.course-buttons {
    margin: 30px auto;
    max-width: 950px;
    padding: 0 70px;

}



.CourseSection  {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 auto;
    max-width: 800px;
}

.CourseSection p {
    padding: 10px 40px;
}


@media (max-width: 700px) {
    .course-buttons {
        margin: 20px auto;
    }

    .CourseSection {
        margin: 0 20px;
    }

    .CourseSection p {
        font-size: 15px;
    }
}