.Hero {
    margin: 100px auto;
    max-width: 850px;

}

.Hero h1 {
    margin: 0 auto;
    text-transform: uppercase;
    color: #e8ab49;
    font-size: 100px;
    font-weight: bold;
    margin: 0 auto 20px;
   }

.Hero .teacher-img {
    margin: 0 auto 20px;
}

.Hero h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto 500px;
    background: #e8ab49;
    border-radius: 2px;
    color: #1c274a;
    padding: 20px;
    text-align: center;
}
.Hero h1, h2 {
    font-family: 'Carlito', sans-serif;
}
.Hero .rev-mentor-img { 
  margin: 0 auto;
}

@media (max-width: 700px) {
    .Hero  h1 {
        font-size: 60px;
        
    }
    .Hero  h2 {
        font-size: 20px;
    }
}