:root {
    --primary-color: #1c274a;
    --secondary-color: #e8ab49;

}

.Hero {
    margin: 40px auto;
    max-width: 550px;
   }

.Hero h1 {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 70px;
    font-weight: bold;
    
   }

.Hero h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto 500px;
    background: var(--secondary-color);
    border-radius: 2px;
    color: var(--primary-color);
    padding: 15px;
    text-align: center;
}
.Hero h1, h2 {
    font-family: 'Carlito', sans-serif;
}


@media (max-width: 580px) {
    .Hero {
        margin: 20px auto;
        max-width: 450px;
        padding: 10px;
      
    }
    .Hero  h1 {
        font-size: 50px;
        
    }
    .Hero  h2 {
        font-size: 17px;
    }
}