.PriceGuide {
  padding: 0;
}

.PriceGuide button {
    display: block;
    margin: 20px auto 5px;
    
    padding: 10px 15px 12px 25px;
  }

.PriceGuide a {
    color: var(--primary-color);
}

.PriceGuide .price-guide-icon {
font-size: 16px;
padding-left: 10px;
}