
.ReviewsSection {
    background-color: var(--primary-color);
    border: dotted 8px var(--accent-color);
    color: var(--secondary-color);
    margin: 0 150px;
    padding: 20px 0;
}

.ReviewsSection h3 {
    color: var(--secondary-color);
}

.ReviewsSection p {
    color: var(--secondary-color);
    font-size: 18px;
    padding: 10px 40px;
}


@media (max-width: 700px) {
    .ReviewsSection {
        margin: 0 50px;
    }

    .ReviewsSection p {
        font-size: 15px;
    }
}

