
.ReviewsSection {
    background-color: var(--primary-color);
    border: dotted 8px var(--accent-color);
    color: var(--accent-color);
    margin: 0 auto;
    max-width: 785px;
}

.ReviewsSection p {
    color: var(--accent-color);
    font-size: 18px;
    padding: 10px 40px;
}


@media (max-width: 700px) {

    .ReviewsSection {
        max-width: 90%;
    }

    .ReviewsSection p {
        font-size: 15px;
    }
}

