.RevNavbar .nav-navbar {
    background-color: var(--secondary-color);
    border-bottom: solid 5px var(--accent-color);
    font-family: 'Carlito', sans-serif;
   
}

.RevNavbar .nav-company-name {
   text-transform: uppercase;
   
}

.RevNavbar .nav-company-name, .nav-page {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px; 
    text-decoration: underline dotted 4px var(--secondary-color);
    transition: all ease-in 80ms;
}

.RevNavbar .nav-page.active, .nav-page:hover, .nav-company-name:hover {
    color: var(--accent-color);
    text-decoration-color: var(--primary-color);
}

.RevNavbar .navbar-toggler {
    color: rgb(242, 242, 242, 0.8);
}

.RevNavbar button {
  border: solid 2px rgb(63, 61, 87, 0.6);
  transition: all ease-in 80ms;
}
