.RevNavbar .navbar {
    background-color: var(--secondary-color);
    border-bottom: solid 5px var(--accent-color);
    font-family: 'Carlito', sans-serif;
   
}

.RevNavbar .nav-brand {
   text-transform: uppercase;
   
}

.RevNavbar .nav-brand, .nav-link {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    transition: all ease-in 80ms;
}

.RevNavbar .nav-link {
    margin: 0 10px;
    transition: all ease-in 80ms;
}

.RevNavbar .nav-link.active, .nav-link:hover, .nav-brand:hover {
font-style: oblique;
}

.RevNavbar .navbar-toggler {
    color: rgb(242, 242, 242, 0.8);
}

.RevNavbar button {
    border: solid 2px rgb(63, 61, 87, 0.6);
  transition: all ease-in 80ms;
}
